{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "svelteIndentScriptAndStyle": true,
                "svelteSortOrder": "options-styles-scripts-markup"
            }
        },
        {
            "files": ["*.ts", "*.js"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.md",
            "options": {
                "parser": "markdown",
                "proseWrap": "preserve"
            }
        }
    ]
}
