@use 'variables';

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

@mixin primary {
    background: var(--Sage, #999f85);
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 3px solid white;
    color: variables.$off-white;
    margin: 3rem;

    &:hover {
        border: 3px solid variables.$sage;
    }

    &:active {
        border: 3px solid variables.$sage;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.button-sm {
    padding: 1rem 1rem;
    font-size: 1rem;
}

.button-md {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.button-lg {
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
}

.primary-button {
    @include primary;
}
