@use 'variables';

// PLEASE DONT USE THIS FOR YOUR SCSS, PUT IT IN THE PROPER PAGE-SPECIFIC SCSS

.journal-page-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.entry-toolbar {
    width: 100%;
    height: 3.06rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: variables.$light-brown;
}