@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@font-face {
  font-family: "Saol Display";
  src:
    local("Saol Display"),
    url('../assets/SaolDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Neue Montreal italic";
  src:
    local("Neue Montreal"),
    url('../assets/neuemontreal-italic.woff') format('woff');
}

@font-face {
  font-family: "Neue Montreal thin";
  src:
    local("Neue Montreal"),
    url('../assets/neuemontreal-thin.woff') format('woff');
}

h1 {
    font-family: 'Saol Display';
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h2 {
    font-family: 'Neue montreal italic';
    font-size: 1.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: capitalize;
    padding: 0.5rem;
}

h3 {
    font-family: 'Nothing You Could Do';
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3%;
}

h4 {
    font-family: 'Neue Montreal thin';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.06875rem;
    text-transform: uppercase;
    padding: 2% 0% 0% 0%;
}

p {
    font-family: "Neue Montreal thin";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}