@use 'variables';

//
// For EntrySidebar.svelte
//
.entry-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 51rem;
    width: 21.875rem;
    padding-top: 4.25rem;
    gap: 1.75rem;
    background-color: variables.$beige;
}

//
// For EntrySidebarItem.svelte
//
.entry-sidebar-item {
    width: 18.75rem;
    height: 3.563rem;
    background-color: variables.$baby-blue;
}

//
// For JournalCover.svelte
//
.journal-book-cover {
    width: 29rem;
    height: 38.313rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

//
// For JournalEditDialog.svelte
//

//
// For JournalMenu.svelte
//
.journal-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    background-color: variables.$off-white;
    position: absolute;
    top: 17rem;
    width: 18.8rem;
    height: 7.31rem;
    padding: 0.188rem;
    margin: auto;
    margin-top: 15rem;
    margin-left: 5rem;
    z-index: 20;
}

.journal-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18.5rem;
    height: 3.5rem;
}

.journal-title-box {
    width: 18.5rem;
    height: 3.5rem;
    background-color: variables.$brown;
}

.journal-title-box > h3 {
    color: variables.$off-white;
    text-align: center;
}