$light-brown: #bf9f86;
$sage: #999f85;
$beige: #e1d4cb;
$baby-blue: #a2aec6;
$brown: #715138;
$olive: #4a571a;
$off-white: #fdfff4;
$gray: #d9d9d9;
$red: #f60000;

$breakpoint: 758px;
$user-profile-breakpoint: 1150px;
